
.DS_Store
/material-ui-nextjs-ts/node_modules
/material-ui-nextjs-ts/node_modules
material-ui-nextjs-ts/.DS_Store
material-ui-nextjs-ts/src/.DS_Store
material-ui-nextjs-ts/src/app/.DS_Store
material-ui-nextjs-ts/.DS_Store
material-ui-nextjs-ts/src/.DS_Store
material-ui-nextjs-ts/src/app/.DS_Store
**/.DS_Store

#passwords
pass.php
pass.js

